@charset "utf-8";
/* CSS Document */
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#333;}
em,i{font-style:normal;}
strong{font-weight: normal;}

.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}

a{text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6,th{ font-size:100%; font-weight: normal;}
fieldset,img{border: none;}
/*table {
    border-collapse:collapse;
    border-spacing:0;
}*/
.left{
    float: left;
}
.right{
    float: right;
}
.yellow{
    color:#fc5203;
}
.green{
    color:#15c6ab;
}
.txt_blue{
    color:#3a8efe;
}
.red{
    color:#e02e32;
}
.tar{
    text-align: right;
}
.tac{
    text-align: center;
}
.btn{
    text-align: center;
    box-sizing: border-box;
    display:inline-block;
}
.btns{
    text-align: center;
}
.mengban_box{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top:0;
    background: rgba(0, 0, 0, 0.3);
}
/*头部*/
body{
    box-sizing: border-box;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
header{
    line-height: 80px;
    height: 80px;   
    font-size: 16px;
    background: #1f232c;
    color:#fff;
}
header h1 a{
    display: block;
    padding-top: 14px;
    box-sizing: border-box;
    height: 80px;
}
.con{
    min-height: calc(100vh - 171px);
}
/*步骤*/
.buzhou_box{
    background: #f0f0f0;
    padding: 40px 0 10px;
}
ol.buzhou{
    width: 750px;
    margin: 30px auto;
    padding:0 50px;
    border-top:1px dashed #626262;
}
ol.buzhou li{
    width: 150px;
    font-size: 14px;
    text-align: center;
    margin-top: -25px;
}
ol.buzhou li span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #ccc;
    display:inline-block;
    border-radius: 100%;
    color:#fff;
    border:10px solid #f0f0f0;
}
ol.buzhou li.alery span{
    background: url(../images/alery.png) no-repeat center center;
}
ol.buzhou li.cur span{
    background: #3a8efe;
    position: relative;
}
ol.buzhou li.cur span::before {
    content: '';
    position: absolute;
    left: -5px;
    top:-5px;
    width:36px;
    height:36px;
    border:1px solid #3a8efe;
    border-radius: 100%;
}
ol.buzhou li p{
    line-height: 38px;
}
/*底部*/
footer{
    color:#999;
    text-align: center;
}
footer p{
    font-size: 14px;
    line-height: 36px;
    border-top:1px solid #999;
}
footer img{
    padding:0 10px;
}
