@charset "utf-8";
/* CSS Document */

div.tit a{
    margin:0 40px;
    color: #999;
    font-size: 18px;
    position: relative;
}
div.tit .cur{
    color:#3a8efe;
}
div.tit .cur::before {
    content: '';
    position: absolute;
    bottom:-20px;
    left: 15%;
    border:2px solid #3a8efe;
    width: 70%;
}
.section{
    width: 860px;
    margin: 0 auto;
}
/*合同详情*/
.detail_tit{
    font-size: 20px;
    padding: 20px 0;
}
.detail_tit .detail_btn{
    font-size: 14px;
    color:#4091fb;
    margin-left: 30px;
    line-height: 28px;
    padding-right: 20px;
   /* background: url(../images/drop.png) no-repeat right center;*/
}
.detail_con{
    padding-bottom: 20px;
    line-height: 32px;
    font-size: 18px;
}
.detail_con span{
    font-size: 16px;
}
/*合同内容*/
.contract{
	height: auto;
	min-height: 1023px; 
    max-height: 1165px;
}

.contract_sidebar{
	width: 60px; 
	height: 770px;
    position: relative;  
}

.contract_tit{
    width: 59px;
    height: 690px;
    overflow: hidden;  
    box-sizing: border-box;
    position: relative;
    top: 10px;
}
.contract_tit_line{
	width: 1px;
    height: auto;
    background: #cccccc;
    position: absolute;
    left: 29px;
}
.contract_tit a{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    display:block;
    color:#fff;
    background: #ccc;
    margin: 34px auto;
    position: relative;
    z-index: 100;
    border:4px solid #fff;
}
.contract_tit a.cur{
    background: #4091fb;
}

/* 左侧导航上下按钮 */
.icon_arrow{
	width: 60px;
	height: 30px;
	border-radius: 2px;
	background: #cccccc;
}

.icon_arrow_click{
	background: #4091fb;
}

.icon_arrow_down{
	position: absolute;
	bottom: 0;
}
/*合同*/
.con_contract{
    padding-bottom: 30px;
}
.con_contract .btn_sign_box{
	margin-left: 20px;
}

.btn_sign_extend{
	position: fixed;
	top: 0;
	margin-left: 760px;
}

.con_contract>div+div{
    margin-left: 20px;
}
.contract_con{
    width: 656px;
    height: 770px;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    font-size: 0px;
}
.contractImg .mCS_img_loaded{
	width: 656px;
    height: 925px;
    overflow: hidden;
}
.contract_con img{
	border: none;
}
.contract_con img+img{
    border: none;
} 
/*签署*/
.sign{
    cursor: pointer;
    color:#3a8efe;
}
.sign .sign_btn{
    display: block;
    width: 60px;
    height: 60px;
    border:1px solid #3a8efe;
    box-sizing: border-box;
    background: url(../images/sign01.png) no-repeat center center;
}
.sign .sign_btn2{
    background-image: url(../images/sign02.png);
}
.tijiaoSign{
    display: none;
}
.tijiaoSign .sign_btn{
    background:#3a8efe url(../images/sign03.png) no-repeat center center;
}
/*滚动条*/
#mCSB_1_dragger_vertical .mCSB_dragger_bar{
    background: #ccc;
}
#mCSB_2_dragger_vertical .mCSB_dragger_bar{
    background: #ccc;
}
/*弹框*/
.mengban_box{
    display: none;
}
.model{
    position: fixed;
    background: #fff;
    left: 50%;
    top:50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
/*短信验证弹框*/
.duan_yzm{
    width: 428px;
    height: 254px;
    font-size: 16px;
}
.duan_yzm1{
    display: none;
}
.model h3{
    line-height: 42px;
    font-size: 16px;
    padding-right: 10px;
    border-bottom:1px dashed #ccc;
}
.model .close{
    font-size: 28px;
    color:#999;
}
.model p{
    line-height: 24px;
    padding:15px 0 0;
}
.mode_con{
    width: 304px;
    margin: 0 auto;
}
.yzm_txt{
    width: 196px;
    height: 36px;
    box-sizing: border-box;
    text-indent: 5px;
    border:1px solid #ccc;
}
.yzm_btn{
    width: 94px;
    height: 36px;
    box-sizing: border-box;
    border:1px solid #ccc;
    color:#333;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
}
.model .btn{
    width: 240px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #3a8efe;
    color:#fff;
    margin: 10px auto 20px;
}
.close{
    cursor: pointer;
}
/*签章*/
.contract_con{
    position: relative;
}
.sign_mod{
    background: rgba(64, 145, 251, 0.35);
    display: none;
    top:0;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    position: absolute;
    cursor: move;      
}
.sign_mod .close{
    position: absolute;
    top:-10px;
    right:-30px;
}
footer{
    z-index: 90;
    bottom:0;
    width: 100%;
    background: #fff;
}
.signName2{
    display: none;
}
.mengban_box{
    display: none;
}